<!-- <h2>Comments <a href="/comments/new">(+)</a></h2> -->

<ul>
  <% @comments.each do |comment| %>
  <li>
      <%= link_to "#{comment.text_body} - #{comment.video.author}",video_comment_path(comment.video,comment) %>
    </li>

  <% end %>
</ul>
