<h2>Comments <a href="/comments/new">(+)</a></h2>

<ul>
  <% @comments.each do |comment| %>
    <li>
      <a href="/comments/<%= comment.id %>">
        <%= comment.text_body %> - <%= comment.author %>
      </a>
    </li>
  <% end %>
</ul>
