<h2>New Comment</h2>

<form action="/comments" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="comment[text_body]">Body:</label>
  <input name="comment[text_body]">

  <label for="comment[author]">Author:</label>
  <input name="comment[author]">

  <label for="comment[date_created]">Date Created:</label>
  <input name="comment[date_created]">

  <label for="comment[video_id]">Video ID:</label>
  <input name="comment[video_id]">

  <input type="submit" value="Create">
</form>
