<h2>New Video Post</h2>

<form action="/videos" method="post" >
  <label for="video[subject]">Subject:</label>
  <input name="video[subject]">

  <label for="video[author]">Author:</label>
  <input name="video[author]">

  <label for="video[date_created]">Date:</label>
  <input name="video[date_created]">

  <label for="video[likes]">Likes:</label>
  <input name="video[likes]">

  <label for="video[link_url]">URL:</label>
  <input name="video[link_url]">

  <input type="submit" value="Create">
</form>
