<h2><%= @video.subject %> <a href="/videos/<%= @video.id %>/edit">(edit)</a></h2>
<h4><%= @video.author %></h4>

<iframe width="650" height="415" class='artist-photo' src="<%= @video.link_url %>">


<h3>Comments</h3>
<ul>

</ul>
