
body{
margin-left: 50px;
margin-right: 50px;
background-image: url("http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2013/7/19/1374225896482/Brick-wall-bricks-and-mor-008.jpg");
color:white;
}

.display{

  font-family:monospace;
    font-size: 13px;
    line-height: 18px;
    list-style: square;
    float: left;
    list-style-type: none;
    color:white;
    /*background-color: black;*/
    /*color:#A52A2A;*/
}



/*li {
    list-style-type: none;
      display: inline;
      text-align:center;
}*/


a:link, a:visited {
    display:inline-grid;
    /*width: 120px;*/
    /*font-weight: bold;*/
    /*color: #FFFFFF;*/
    /*background-color: #98bf21;*/
    /*text-align: center;*/
    padding: 4px;
    text-decoration: none;
    color: white;
    /*background-color: black;*/
    font-size: 1.5em;
      font-family:monospace;
    /*text-transform: uppercase;*/
}

.links{
  color:red;
}

.fixed-nav-bar {

  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
  /*background-color: #00a087;*/
  background-color: black;
  color:white;
  font-size: 2em;
  font-family: monospace;


  /*font-variant: small-caps;*/
  /*font-variant-caps: all-small-caps;*/
}

.fixed-nav-bar a {
  color:white;
  text-decoration: none;

}

.fixed-nav-bar li {

  display:inline-flex;
  font-size: 0.6em;


}

.searchbox{
  text-align: right;

}

.headsup{
  text-align: right;
}
