
body{
/*text-align: */
}

.display{

  font-family: arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    list-style: square;
    float: left;
}

a{
  color: blue;
}


/*li {
    float: left;
}*/

ul{
      text-decoration: none;
}

a:link, a:visited {
    display: block;
    /*width: 120px;*/
    /*font-weight: bold;*/
    /*color: #FFFFFF;*/
    /*background-color: #98bf21;*/
    /*text-align: center;*/
    padding: 4px;
    text-decoration: none;
    /*text-transform: uppercase;*/
}
