<!DOCTYPE html>
<html>
<head>
  <title>Brodkast</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<h1>brod_kast</h1>
<img width="100" height="100" src="http://cliparts.co/cliparts/gTe/ozo/gTeozoEnc.jpg"/>

</head>
<body>

<%= yield %>

</body>
</html>
